In [1]:
#Test BLS.gov API
import bls
import requests
import json
#import prettytable
import pandas as pd

In [2]:
from pprint import pprint
from config import api_key
from census import Census

#c = Census(api_key, year=2013)
#help(c)

In [53]:
for yr in range(2012,2017,1):
    c = Census(api_key, year=yr)
#    print(yr)

    try:
        census_data = c.acs5.get(("NAME", "B19013_001E", 
                              "B01003_001E", 
                              "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                           "B25064_001E",
                            "B25088_002E",
                            "B23025_004E",
                            "B23025_005E"
                           ), {'for': 'zip code tabulation area:*'})

        # Convert to DataFrame
        census_pd = pd.DataFrame(census_data)

        census_pd = census_pd.rename(columns={"B01003_001E": "Total Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Median Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B25064_001E":"median_gross_rent",
                                      "B25088_002E": "median_monthly_owner_costs",
                                      "B23025_004E":"employment_employed",
                                      "B23025_005E":"employment_unemployed",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})
        
        #print(census_pd.loc[census_pd["Zipcode"]==10055])
        #break
        census_pd.to_csv(f"Data/census_{yr}.csv")
    except:
        print("Some error")
        
#census_pd.head()

In [54]:
#import zip file
zip_data_df = pd.read_csv("Data/free-zipcode-database.csv")
#zip_df = zip_data_df [["Zipcode", "City", "State", "Lat", "Long", "LocationText"]]
#zip_df.head()

zip_df = zip_data_df.loc[zip_data_df["State"]!="PR", ["Zipcode", "City", "State", "Lat", "Long", "LocationText"]]
zip_df.head()

/Users/paulinapaul/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     Zipcode        City State    Lat   Long    LocationText
112     7093     MONITOR    NJ  40.78 -74.00     Monitor, NJ
113     7093      TAURUS    NJ  40.78 -74.00      Taurus, NJ
114     7675    WESTWOOD    NJ  40.98 -74.03    Westwood, NJ
115     7675  OLD TAPPAN    NJ  40.98 -74.03  Old Tappan, NJ
116     7675  RIVER VALE    NJ  40.98 -74.03  River Vale, NJ

In [55]:
#merge census yearly data into a single dataframe
l = ['2012', '2013', '2014','2015', '2016']

mylist=[]
myDict={}
for item in l:
    
    #dataframe_name = f"census_{item}"
    df = pd.read_csv(f"Data/census_{item}.csv")
    df['year']=item
    
    #clean census data
    df.dropna(how="any", inplace=True)
    
    #remove erroraneous values in the census data
    df = df[df["Median Household Income"]!=-666666666]
    
    #merge zip_df to get city names
    merged_df = pd.merge(df, zip_df, on="Zipcode", how="left")
    
    #group by city, state
    city_state_grp = merged_df.groupby(["City","State"])

    new_df = pd.DataFrame({#"City": city_state_grp["City"].unique,
                           "Median Age": city_state_grp["Median Age"].mean(),
                            "Total Population": city_state_grp["Total Population"].sum(),
                        "Median Income": city_state_grp["Median Household Income"].mean(),
                        "Employed": city_state_grp["employment_employed"].sum(),
                        "Unemployed": city_state_grp["employment_unemployed"].sum(),
                           "Monthly Rent": city_state_grp["median_gross_rent"].mean(),
                           "Owner Monthly Costs": city_state_grp["median_monthly_owner_costs"].mean()
        
        
        
    })
    
    #pprint(new_df.head(100))
    #break
    
    new_df.reset_index(inplace=True)
    
    mylist.append(new_df)

    
    
#mylist[1].loc[mylist[1]["City"]=="SAN DIEGO" ]

In [56]:
print(len(mylist))    
#print(mylist[1].head())

mylist[4].loc[mylist[4]["City"]=="NEW YORK"]

5

,City,State,Median Age,Total Population,Median Income,Employed,Unemployed,Monthly Rent,Owner Monthly Costs
31853,NEW YORK,IA,43.000000,1303.0,54259.000000,576.0,36.0,591.0,1.019000e+03
31854,NEW YORK,NY,36.568889,1625513.0,95989.666667,888938.0,65280.0,1966.4,-1.481187e+07
31855,NEW YORK,TX,44.400000,3022.0,58824.000000,1317.0,88.0,-666666666.0,1.110000e+03

In [26]:
#calculate the rate

,Unnamed: 0,Median Age,Total Population,Poverty Count,Median Household Income,Per Capita Income,employment_employed,employment_unemployed,median_gross_rent,median_monthly_owner_costs,Name,Zipcode,year,City,State,Lat,Long,LocationText
1,132,22.9,29266.0,7418.0,54422.0,27691.0,14404.0,1538.0,1125.0,2079.0,ZCTA5 01002,1002,2013,AMHERST,MA,42.37,-72.52,"Amherst, MA"
1066,745,44.4,11283.0,323.0,110809.0,48600.0,5812.0,295.0,1417.0,2547.0,ZCTA5 03031,3031,2013,AMHERST,NH,42.86,-71.61,"Amherst, NH"
1814,1240,46.4,13138.0,1642.0,48880.0,26677.0,6526.0,664.0,786.0,1303.0,ZCTA5 04605,4605,2013,AMHERST,ME,44.58,-68.49,"Amherst, ME"
7624,3998,43.1,19795.0,581.0,101660.0,47077.0,10896.0,485.0,1317.0,1856.0,ZCTA5 14051,14051,2013,AMHERST,NY,43.04,-78.70,"Amherst, NY"
7745,4079,46.7,53475.0,2498.0,75189.0,40286.0,26123.0,1421.0,1111.0,1630.0,ZCTA5 14221,14221,2013,AMHERST,NY,42.88,-78.85,"Amherst, NY"
7760,4084,39.3,28827.0,2821.0,60545.0,35385.0,14499.0,868.0,831.0,1312.0,ZCTA5 14226,14226,2013,AMHERST,NY,42.88,-78.85,"Amherst, NY"
7770,4086,33.1,21467.0,3942.0,47801.0,29131.0,10373.0,797.0,857.0,1510.0,ZCTA5 14228,14228,2013,AMHERST,NY,42.88,-78.85,"Amherst, NY"
13706,7558,45.7,10582.0,1611.0,43420.0,22210.0,4465.0,436.0,640.0,1103.0,ZCTA5 24521,24521,2013,AMHERST,VA,37.58,-79.05,"Amherst, VA"
24743,14156,44.3,20358.0,1452.0,63722.0,27999.0,9936.0,909.0,800.0,1446.0,ZCTA5 44001,44001,2013,AMHERST,OH,41.40,-82.23,"Amherst, OH"
31463,18079,41.2,3367.0,333.0,58583.0,26732.0,1707.0,129.0,633.0,1362.0,ZCTA5 54406,54406,2013,AMHERST,WI,44.44,-89.28,"Amherst, WI"
40552,23877,43.0,769.0,58.0,62813.0,26930.0,417.0,0.0,683.0,1172.0,ZCTA5 68812,68812,2013,AMHERST,NE,40.83,-99.26,"Amherst, NE"
46645,27587,34.2,1171.0,295.0,37500.0,15983.0,399.0,37.0,718.0,1132.0,ZCTA5 79312,79312,2013,AMHERST,TX,34.01,-102.41,"Amherst, TX"

In [ ]:
url = 'https://api.census.gov/data/2017/pep/population?get=POP,GEONAME&for=place:*&in=state:01&DATE=9&key='

In [ ]:
year_code = {

   '2017': 10,
   '2016': 9,
   '2015': 8,
   '2014': 7,
   '2013': 6,
   '2012': 5,
   '2011': 4,
   '2010': 3,
   '2009': 2,
   '2008': 1
}


state_code = {

   "Alabama": 1,
   "Alaska": 2,
   "Arizona": 4,
   "Arkansas": 5,
   "California": 6,
   "Colorado": 8,
   "Connecticut": 9,
   "Delaware": 10,
   "District of Columbia": 11,
   "Florida": 12,
   "Georgia": 13,
   "Hawaii": 15,
   "Idaho": 16,
   "Illinois": 17,
   "Indiana": 18,
   "Iowa": 19,
   "Kansas": 20,
   "Kentucky": 21,
   "Louisiana": 22,
   "Maine": 23,
   "Maryland": 24,
   "Massachusetts": 25,
   "Michigan": 26,
   "Minnesota": 27,
   "Mississippi": 28,
   "Missouri": 29,
   "Montana": 30,
   "Nebraska": 31,
   "Nevada": 32,
   "New Hampshire": 33,
   "New Jersey": 34,
   "New Mexico": 35,
   "New York": 36,
   "North Carolina": 37,
   "North Dakota": 38,
   "Ohio": 39,
   "Oklahoma": 40,
   "Oregon": 41,
   "Pennsylvania": 42,
   "Rhode Island": 44,
   "South Carolina": 45,
   "South Dakota": 46,
   "Tennessee": 47,
   "Texas": 48,
   "Utah": 49,
   "Vermont": 50,
   "Virginia": 51,
   "Washington": 53,
   "West Virginia": 54,
   "Wisconsin": 55,
   "Wyoming": 56
}